<table class="table table-bordered">
	<tr>
		<th>Tanggal</th>
		<th>Keterangn</th>
		<th>Personnel | Posisi</th>
	</tr>
	<%= render partial: 'table', collection: @schedules, as: :s, locals: {message: 'Band sudah manggung'} %>
</table>
<%= link_to 'Back', schedules_path %>