<table class="table table-bordered">
	<tr>
		<th>Nama Personel</th>
		<th>Aksi</th>
	</tr>
	<%= render partial: 'list_personnel', collection: @personnels, as: :p %>
</table>
<%= will_paginate @personnels %>
* <i>Personnel dengan berbagai posisi, utamakan personnel yang hanya memiliki 1 posisi untuk di masukkan ke jadwal.</i></br>
<%= link_to '+New Personil', new_personnel_path %>